<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HTTP 요청 방식과 Query 추출을 파악하자</h1>
<hr>
<h2>전달된 Query :  {{ result }} </h2>
<hr>
<a href="http://localhost:8000/secondapp/exam2_1/">하이퍼 링크 텍스트로 요청하기</a>
<hr>
<form method="GET" method="/secondapp/exam2_1/">
    <input type="hidden" name="info1" value="django">
    <input type="hidden" name="info2" value="css">
    <input type="hidden" name="info3" value="javascript">
    <input type="submit" value="<form>태그로 GET방식 요청">
</form>
<hr>
{% load static %}
<a href="http://localhost:8000/secondapp/exam2_1/">
           <img src="{% static 'images/olaf5.png' %}" width="150"></img></a>
<hr>
<form method="POST" method="/secondapp/exam2_1/">
    {% csrf_token %}
    <input type="hidden" name="info1" value="django">
    <input type="hidden" name="info2" value="css">
    <input type="hidden" name="info3" value="javascript">
    <input type="submit" value="<form>태그로 POST방식 요청">
</form>
<hr>
</body>
</html>