<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exam2</title>
</head>

<body>
<h1>HTTP 요청 방식을 파악하자</h1>
<hr>
<h2>이번 요청은 {{ result }} </h2>
<hr>
<a href="http://localhost:8000/secondapp/exam2">하이퍼 링크 텍스트로 요청하기</a>
<hr>
<form method="GET" method="/secondapp/exam2">
    <input type="hidden" name="info1" value="django">
    <input type="hidden" name="info2" value="css">
    <input type="hidden" name="info3" value="javascript">
    <input type="submit" value="<form>태그로 GET방식 요청">
</form>
<hr>
<a href="http://localhost:8000/secondapp/exam2"><img src="/static/images/olaf5.png" width="150"></img></a>
<hr>
<form method="POST" method="/secondapp/exam2">
    {% csrf_token %}
    <input type="hidden" name="info1" value="django">
    <input type="hidden" name="info2" value="css">
    <input type="hidden" name="info3" value="javascript">
    <input type="submit" value="<form>태그로 POST방식 요청">
</form>
<hr>
</body>
</html>