{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Django+AJAX</h1>
  <h4>AJAX  기술을 이용해서 Django 서버 프로그램을 요청합니다.</h4>
</div>
<div class="card-deck">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">클릭해 보셔용</p>
    </div>
  </div>
  <div class="card bg-warning">
    <div class="card-body text-center">
      <p class="card-text">클릭해 보셔용</p>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-body text-center">
      <p class="card-text">클릭해 보셔용</p>
    </div>
  </div>
  <div class="card bg-danger">
    <div class="card-body text-center">
      <p class="card-text">클릭해 보셔용</p>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  $('p').click(function(e) {
   	$.getJSON('/secondapp/json3/', function(data) {
   	      content = "";
   	      console.log(data);
		  $.each(data, function(key, value) {
                console.log("key : "+key + "   value : " + value);
		        content += value + "<br>";
		  });
		  $(e.target).html(content);
	});
  });
});
</script>
{% endblock %}
