<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exercise2</title>
    <style>
        input.op {
        width : 200pt;
        height : 300pt;
        text-align : justify;
        }
    </style>
</head>
<body>
<p>
    {% if who %}
        <h1><span style="color:green">{{ who }}</span>님이 남긴 글입니다.</h1>
        <hr>
        <h3>{{content}}</h3>

    {% else %}
        <form method="POST" action="/workapp/exercise2/">
            {% csrf_token %} <!--포스트 방식에서 꼭 넣어야하는 구문-->
            <h1>의견을 입력하세요</h1><hr>
            <input type="text" name="who" placeholder="작성자 이름을 적어주세요" required>
            <br><br>
            <input type="text" class="op" name="content" placeholder="자신의 의견을 간단히 적어주세요.">
            <input type="submit" value="제출"><input type="reset" value="재작성">
        </form>
    {% endif %}
</p>
</body>
</html>