{% extends 'basesimple.html' %}
{% block mycontent %}

    <style>
        input {
            width : 200pt;
            border : 1px solid black;
            margin : 10px;
            box-shadow : 15px 15px rgb(0,0,0,.2);
               }
        form{       text-align : center;

          }
    </style>

{% load static %}
        <form action="{% url 'basket1' %}" method="GET" >
             <h1>원하는 상품을 클릭해 주세요!!!</h1><hr>
            <a href="{% url 'basket1' %}?product=p001"  ><img src="{% static 'images/1.jpg' %}"></a>
             <a href="{% url 'basket1' %}?product=p002"  ><img src="{% static 'images/2.jpg' %}"></a>
             <a href="{% url 'basket1' %}?product=p003"  ><img src="{% static 'images/3.jpg' %}"></a>
             <a href="{% url 'basket1' %}?product=p004"  ><img src="{% static 'images/4.jpg' %}"></a>
             <a href="{% url 'basket1' %}?product=p005"  ><img src="{% static 'images/5.jpg' %}"></a>
            <br>
            <a href="{% url 'basket1' %}?product=p006"  ><img src="{% static 'images/6.jpg' %}"></a>
             <a href="{% url 'basket1' %}?product=p007"  ><img src="{% static 'images/7.jpg' %}"></a>
             <a href="{% url 'basket1' %}?product=p008"  ><img src="{% static 'images/8.jpg' %}"></a>
             <a href="{% url 'basket1' %}?product=p009"  ><img src="{% static 'images/9.jpg' %}"></a>
             <a href="{% url 'basket1' %}?product=p010"  ><img src="{% static 'images/10.jpg' %}"></a>

        </form>
{% endblock %}

