{% extends 'basesimple.html' %}

{% block mycontent %}
<h2>방명록에 남겨진 글들</h2>
<hr>
{% load static %}
<table>
{% for vdata in vlist %}
      <tr>
          <td>{{ vdata.name }}</td>
          <td>{{ vdata.memo }}<span onclick="read_reply({{ vdata.pk }})">({{vdata.reply_set.values|length}})</span></td>
          <td>{{ vdata.writedate }}</td>
          <td><img src="{% static  'images/delete.png' %}" onclick="dd_confirm('{{ vdata.name }}', {{ vdata.pk }})" width="20"></td>
          <td><img src="{% static  'images/edit.png' %}" onclick="ajax_uu_request({{ vdata.pk }})" width="20"></td>
          <td><img src="{% static  'images/reply.jpg' %}" onclick="write_reply({{ vdata.pk }})" width="20"></td>
      </tr>
{% endfor %}
</table>
<h5>
	{% if vlist.has_previous %}
		<a href='?page={{vlist.number|add:-1}}'>이전페이지</a>
	{% endif %}
	Page {{ vlist.number }} / {{ vlist.paginator.num_pages }}
	{% if vlist.has_next %}
		<a href='?page={{vlist.number|add:+1}}'>다음페이지</a>
	{% endif %}
</h5>
<div id="searchdiv">
    <select name="searchtype">
        <option value="search1">작성자명</option>
        <option value="search2">작성내용</option>
    </select>
    <input type="text" name="keyword">
    <button  onclick="processSearch() ">검색</button>
</div>
<div id="btndiv"><button  onclick="displayInputForm() ">글 작성하기</button></div>
<div id="ccform"  style="display:none">
  <h2>의견을 남겨 주세요!</h2>
	<hr>
	<form method="post" action="{% url 'vC' %}">
        {% csrf_token %}
		<input type="text" name="name"  placeholder="작성자 이름을 입력해 주세요"><br>
		<textarea style="margin-top:5px" name="memo" cols="30" rows="5" placeholder="자신의 의견을 간단히 적어주세요."></textarea>
 		</textarea><br>
 		<button type="submit" value="Submit">제출</button>
 		<button type="reset" value="Reset">재작성</button>
	</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function displayInputForm() {
        $('#ccform').css('display', 'block')
    }
     function dd_confirm(name, pk) {
        let result = confirm(name+"님의 글을 삭제하겠습니까??");
        if( result )
            location.href = "{% url 'vD' %}?pk="+pk;
     }
    function ajax_uu_request(pk) {
        $.getJSON("{% url 'vU' %}?pk="+pk, function(jsonObj) {
           $('#ccform').css('display', 'block')
           const dom1 = $('[name="name"]');
           const dom2 = $('[name="memo"]');
           dom1.removeAttr("placeholder");
           dom1.attr("value", jsonObj.name);
           dom2.removeAttr("placeholder");
           dom2.text(jsonObj.memo);
           $('#ccform h2').text("글을 수정해 주세요")
            $('#ccform form').attr("action", "{% url 'vU' %}?pk="+pk)
        });
    }
    function write_reply(pk) {
        const replycontent = window.prompt("댓글을 작성하세요")
        $.getJSON("{% url 'rC' %}?pk="+pk+"&content="+replycontent, function(jsonObj) {
            alert(jsonObj.result)
            location.href = "{% url 'vR' %}?page="+{{ vlist.number }};
        });
    }
    function read_reply(pk) {
        $.getJSON("{% url 'rR' %}?pk="+pk, function(jsonObj) {
            let msg = "";
            for (let i  in jsonObj.result)
                msg += jsonObj.result[i] +"\n";
            alert(msg)
        });
    }
    function processSearch() {
         location.href = '/forthapp/'+$('[name="searchtype"]').val()+'/'+$('[name="keyword"]').val();
    }
</script>
{% endblock %}

{% block mycss %}
  button {
    margin-top : 5px;
  }
  td {
    border-bottom : 1px dotted gray;
  }
  tr:hover {
    background-color : pink;
  }
  h2, h5 {
    text-align : center;
  }
#ccform, table {
    width:60%;
    margin-left : auto;
    margin-right : auto;
}
#btndiv, #searchdiv {
    text-align : center;
}
h2>img {
    width:30px;
}
a {
    text-decoration : none;
}
{% endblock %}